<head>
	<style type="text/css">
	#map-canvas {
		height: 500px;
	}
	</style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places,weather&sensor=false">
  </script>
	<script type="text/javascript">

		var map;
		// var service;

		// function handleSearchResults(results, status)
		// {
		// 	console.log(results);

		// 	for(var i = 0; i < results.length; i++) {
		// 			var marker = new google.maps.Marker({
		// 	  	position: results[i].geometry.location,
		// 	  	map: map,
		// 	  	icon: results[i].icon
		// 	  });

		// 	}
		// }

		// function performSearch()
		// {
		// 	var request = {
		// 		bounds: map.getBounds(),
		// 		name: "McDonald's"
		// 	}
		// 	service.nearbySearch(request, handleSearchResults);
		// }
		function initialize(location)
		{
			console.log(location);

				var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

			  var mapOptions = {
			    zoom: 10,
			    center: currentLocation
			  	};

			  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);	
			  var marker = new google.maps.Marker({
			  	position: currentLocation,
			  	map: map
			  });

			  service = new google.maps.places.PlacesService(map);

			  // google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);

			  var trafficLayer = new google.maps.TrafficLayer();
					$('#toggle_traffic').click(function () {
					if (trafficLayer.getMap()){
						trafficLayer.setMap(null);
					}
					else {
						trafficLayer.setMap(map);
					}
				});

				var weatherLayer = new google.maps.weather.WeatherLayer({
					temperatureUnits: google.maps.weather.TemperatureUnit.FAHRENHEIT
				});
				var cloudLayer = new google.maps.weather.CloudLayer();

				$('#toggle_weather').click(function() {

					if (weatherLayer.getMap() || cloudLayer.getMap()) {
						weatherLayer.setMap(null);
						cloudLayer.setMap(null);
					}
					else {
						weatherLayer.setMap(map);
					}
				});	
	
		}


		$(document).ready(function()
		{
			navigator.geolocation.getCurrentPosition(initialize);
			});
	</script>
</head>	
<body>

<div id="map-canvas"></div>
<button id="toggle_traffic">Traffic</button>
<button id="toggle_weather">Weather</button>
</body>