#header
	.container
		.row
			.col-lg-6.col-lg-offset-3
				%h1.text-center
					afloat				
#content
	.container
		.row
			.col-lg-6.col-lg-offset-3
				.jumbotron.text-center
					%a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Map my route!
#body
	.container
		.images
			= image_tag("flood.jpg", :class => 'image-1')	
			= image_tag("Waves.jpg", :class => 'image-2')