				
#content
	.container
		.row
			.col-lg-6.col-lg-offset-3
				.jumbotron.text-center
					%h2 Anyone who’s ever lived in downtown Charleston knows that a little bit of rain combined with high tide can lead to some dangerous driving conditions. Afloat is designed to make driving in these conditions easier.
					= link_to "Continue", maps_path, :class => "btn btn-primary btn-lg"
/ #body
/ 	.container
/ 		.images
/ 			= image_tag("flood.jpg", :class => 'image-1')	
/ 			= image_tag("waves.jpg", :class => 'image-2')