#header
	.container
		.row
			.col-lg-6.col-lg-offset-3
				%h1.text-center
					afloat				
#content
	.container
		.row
			.col-lg-6.col-lg-offset-3
				.jumbotron.text-center
					= link_to "Map my route!", maps_path, :class => "btn btn-primary btn-lg"
/ #body
/ 	.container
/ 		.images
/ 			= image_tag("flood.jpg", :class => 'image-1')	
/ 			= image_tag("waves.jpg", :class => 'image-2')