#header {
	background: #203864;
	font-family: 'Lobster', cursive;
	color: #337ab8;
	border-bottom: 3px;
	font-size: large;
	font-weight: bolder;
}


#content {
	background-image: image-url('city-map1.jpg');
	background-repeat: none;
	background-size: cover;
	width: 100%;
	height: 1000px;
	padding-top: 250px;
	}

.btn.btn-primary.btn-lg:hover {
	color: #337ab8;
	background: #19528B;
	font-weight: bolder;
}	

.btn.btn-primary.btn-lg {
	color: #19528B;
	background: #337ab8;
	font-weight: bolder;
}

.jumbotron {
	background-color: rgba(240, 248, 255, .8);
	font-family: 'Lobster', cursive;
	color: #19528B;
}


.images {
	display: flex;
	justify-content: space-between;
	img {
		width: 450px;
		height: 360px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.afloat:hover {
	text-decoration: none;
	color: white;
}
