.input-group-addon {
	color: #5CBDFF;
	background: #19528B;
	font-size: large;
	font-weight: bolder;
}

.btn.btn-default {
	color: #5CBDFF;
	background: #19528B;
	font-weight: bolder;
}

body {
	background-color: #337ab8;
background-image: url(http://www.transparenttextures.com/patterns/wavecut.png);
font-size: large;
text-align: center;
}

.btn:hover {
	color: #19528B;
	background: white; 
}


.btn.btn-default.btn-lg {
	text-align: center;
}

.input-group {
	margin-left: 5%;
}

.panel {
	margin-right: 5%;
	border: 0;
	margin-bottom: 15%;
}

.btn-group {
	margin-bottom: 15%;
}