<!DOCTYPE html>
<html>
<head>
  <title>Flood</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 <link href="https://fontastic.s3.amazonaws.com/KNH3dH4Hc5GkPn5Rv5vKG9/icons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <div id='header'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3'>
        <h1 class='text-center'>
          afloat
        </h1>
      </div>
    </div>
  </div>
</div>
</head>
<body>

<%= yield %>

</body>
</html>
